@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "dana";
	src: url("../fonts/DanaFaNum-Regular.ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	direction: rtl;
	font-family: "dana";
}

.DatePicker {
	width: 100% !important;
}

.datepicker-input {
	width: 100% !important;
}

.DatePicker__input.-rtl {
	width: 100% !important;
	border: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}
